/*
  allGames.css
  Stylesheet for allGames.html
*/

body {
  color: #fff;
  font-family: verdana;
  margin: 0%;
  background-image: linear-gradient( #000, #1b2853);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  overflow: auto;
  background-color: #1b2853;
}

.header img {
  float: left;
  width: 10%;
  height: auto;
  padding-left: 2%;
}

.header h1 {
  font-size: 3.5vw;
  color: #fff;
  display: inline-block;
  position: relative;
  padding-left: 3%;
}

.search {
  float: right;
  padding-right: 15%;
  padding-top: 3%;
}

.search input[type="text"] {
  width: 35vw;
  padding: 1vw;
  border: none;
  font-size: 1.5vw;
}

nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #0065b3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 5vw;
  font-size: 1.5vw;
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

.active {
  background-color: #ee1c25;
}

#Games {
  text-align: center;
  margin-left: 8vw;
  margin-right: 8vw;
}

#Games button {
  width: 18vw;
  margin: 0.6vw;
}

.gameCard img {
  height: 5vw;
  width: auto;
}

.gameCard h2 {
  font-size: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameCard h3 {
  font-size: 1.25vw;
  float: right;
  margin-right: 3vw;
}

#Games button {
  background-color: #C3E4ED;
  transition-duration: 0.3s;
  border: none;
}

#Games button:hover {
  background-color: #B4CDCD;
}

#Filtering {
  margin-bottom: 2.5vw;
  margin-top: 1vw;
}

#Input {
  float: left;
}

#Input[type="text"] {
  width: 25vw;
  padding: .5vw;
  border: none;
  font-size: 1vw;
  margin-left: 11.7vw;
  margin-right: 1vw;
}

#Filtering button {
  font-size: 1.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-right: 0.65vw;
  height: 2.2vw;
  width: auto;

  background-color: white; 
  color: black;
  border: 0.15vw solid #ee1c25;
  border-radius: 0.5vw;
  transition-duration: 0.2s;
}
#Filtering button:hover {
  background-color: #ee1c25;
  color: white;
}

i {
    border: solid black;
    border-width: 0 0.25vw 0.25vw 0;
    display: inline-block;
    padding: 0.2vw;
    margin-left: 0.5vw;
    margin-right: -0.3vw;

    transform: rotate(45deg);
}

#Paging {
  margin-top: 1vw;
  margin-left: 11.7vw;
}

#Paging button {
  font-size: 1.25vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  margin: 0vw;
  float: left;
}

#gap {
  width: 12.45vw;
  height: 2.15vw;
}

