/*
  allGames.css
  Stylesheet for allGames.html
*/

body {
  color: #fff;
  font-family: verdana;
  margin: 0%;
  background-image: linear-gradient( #000, #1b2853);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  overflow: auto;
  background-color: #1b2853;
}

.header img {
  float: left;
  width: 10%;
  height: auto;
  padding-left: 2%;
}

.header h1 {
  font-size: 3.5vw;
  color: #fff;
  display: inline-block;
  position: relative;
  padding-left: 3%;
}

.search {
  float: right;
  padding-right: 15%;
  padding-top: 3%;
}

.search input[type="text"] {
  width: 35vw;
  padding: 1vw;
  border: none;
  font-size: 1.5vw;
}

nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #0065b3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 5vw;
  font-size: 1.5vw;
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

.active {
  background-color: #ee1c25;
}
