/*
  home.css
  Stylesheet for home.html
*/

body {
  color: #fff;
  font-family: verdana;
  margin: 0%;
  background-image: linear-gradient(#000, #1b2853);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: #1b2853;
}

.header img {
  float: left;
  width: 10%;
  height: auto;
  padding-left: 2%;
}

.header h1 {
  font-size: 3.5vw;
  color: #fff;
  display: inline-block;
  position: relative;
  padding-left: 3%;
}

.search {
  float: right;
  padding-right: 15%;
  padding-top: 3%;
}

.search input[type="text"] {
  width: 35vw;
  padding: 1vw;
  border: none;
  font-size: 1.5vw;
}

nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #0065b3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 5vw;
  font-size: 1.5vw;
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

.active {
  background-color: #ee1c25;
}

#currencyButton {
  background-color: #0065b3;
  color: white;
  font-size: 1.75vw;
  float: right;
  margin-right: 3vw;
  margin-top: 0.35vw;
  padding: 0.35vw;
}

#currencyButton img {
  width: 1.75vw;
  position: relative;
  top: 0.15vw;
}

#currencyButton:hover,
.currencyButton:focus {
  color: #000;
}

#freeGames {
  font-size: 2.5vw;
  background-color: #1b2853;
  color: #ee1c25;
  margin: 0;
  padding-left: 10vw;
  padding-top: 2vw;
}

#freeGame {
  display: inline;
  position: relative;
  bottom: 2.95vw;
}

.left {
  margin-left: 12vw;
  margin-right: 0;
  height: 11.55vw;
  width: auto;
}

.right {
  float: inline-end;
  height: 11.55vw;
  width: auto;
}

.slideGameCard {
  width: 50vw;
  height: 10vw;
}

.slideGameCard h2 {
  font-size: 1.75vw;
}

.slideGameCard h3 {
  float: right;
  font-size: 2vw;
  margin-right: 4vw;
}

#slideGameImage {
  float: left;
  width: auto;
  height: 7.5vw;
  margin-right: 3%;
}

#slideStoreImage {
  float: right;
  width: 4vw;
  height: auto;
  margin-top: 1vw;
  margin-right: 1.5vw;
}

.column {
  text-align: center;
  float: left;
  width: 33.33%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.column h2 {
  font-size: 1.75vw;
  color: #ee1c25;
}

.column button {
  background-color: #c3e4ed;
  margin-bottom: 0.5vw;
  transition-duration: 0.3s;
  border: none;
}

.column button:hover {
  background-color: #6996ad;
}

.gameCard {
  width: 28vw;
  height: 6vw;
}

.gameCard h2 {
  color: #000;
  float: inline-end;
  font-size: 1.2vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameCard h3 {
  float: right;
  font-size: 1.5vw;
  margin-right: 2vw;
}

#gameImage {
  float: left;
  width: auto;
  height: 4.5vw;
  margin-right: 3%;
}

#storeImage {
  float: right;
  width: 3vw;
  height: auto;
  margin-top: 0.8vw;
  margin-right: 1vw;
}
