/*
  home.css
  Stylesheet for home.html
*/

body {
    background-color: #1B2853;
    color:#fff;
    font-family:verdana;
}

.header{
	width:100%;
	height:150px;
}

.title{
  font-size:80px;
  text-align:left;
  float:left;
  margin:0px;
  line-height:50px;
  padding-left:75px;
  padding-top: 60px;
}

.header img {
  float: left;
  padding-left: 50px;
  padding-top: 25px;
  width: 150px;
  height: auto;
}

.searchBar {
  float:right;
  padding-right: 200px;
  padding-top: 67px;
}

ul {
  list-style-type: none;
  margin-left: 0%;
  margin-top: 35px;
  padding: 0;
  overflow: hidden;
  background-color: #0065B3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 100px;
  font-size: 30px;
  text-decoration: none;
}

li a:hover {
  color: #000000;
}

.active {
  background-color: #EE1C25;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
/* Create three equal columns that float next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }
  
#navbar {
    background-color: #0065B3;
}

.navtext {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

h2 {
    color:#EE1C25;
}