/*
  search.css
  Stylesheet for search.html
*/

body {
    color: #fff;
    font-family: verdana;
    margin: 0%;
    background-image: linear-gradient(#000, #1b2853);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .header {
    overflow: auto;
    background-color: #1b2853;
  }
  
  .header img {
    float: left;
    width: 10%;
    height: auto;
    padding-left: 2%;
  }
  
  .header h1 {
    font-size: 3.5vw;
    color: #fff;
    display: inline-block;
    position: relative;
    padding-left: 3%;
  }
  
  .search {
    float: right;
    padding-right: 15%;
    padding-top: 3%;
  }
  
  .search input[type="text"] {
    width: 35vw;
    padding: 1vw;
    border: none;
    font-size: 1.5vw;
  }
  
  nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #0065b3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 5vw;
    font-size: 1.5vw;
    text-decoration: none;
  }
  
  li a:hover {
    color: #000000;
  }
  
  .active {
    background-color: #ee1c25;
  }

  #searchTerm {
    font-size: 2vw;
    margin-bottom: 3vw;
  }

  #searchResultDisplay {
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
  }

  #searchResultDisplay button {
    width: 18vw;
    margin: 0.6vw;
  }

  .gameCard img {
    height: 5vw;
    width: auto;
  }
  
  .gameCard h2 {
    font-size: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .gameCard h3 {
    font-size: 1.25vw;
    float: right;
    margin-right: 3vw;
  }

  button {
    background-color: #C3E4ED;
    margin-bottom: .5vw;
    transition-duration: 0.3s;
    border: none;
  }

  button:hover {
    background-color: #B4CDCD;
  }